@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: poppins;
}
body{
  position:relative;
  overflow-x:hidden;
  min-height:100vh;
}
hr{
  height:6px;
  color:orange;
  margin: 20px;
  background:linear-gradient(to right,rgb(255, 166, 0) 10%,red,yellow);
  border-radius: 10px;
}
.app{
  padding:0px 8%;
  
}