.cart-item{
  display: flex;
  flex-direction: column;
  gap:10px;
}
.cart-items {
  display:grid;
  grid-template-columns: 1fr 1.5fr  1fr 1fr 1fr .5fr;
  align-items: center;
  font-size: 12px;
  color:grey;
}
.cart-items img {
  width: 100px;
  height: 100px;
}
.cart-items p{
  font-size: 17px;
  font-weight: 600;

}
.cart-items-food{
  color:black;
}
.cart-totals{
  width:50%;
  padding:20px;
  background:white;
  height:100%;
  border-bottom-right-radius: 10%;
  border-top-right-radius: 10%;
}
.totals{
   display:flex;
   align-items: center;
   justify-content: space-between;
}

.price{
   color:gray;
   font-weight: bold;
}
button{
  width:100%;
  padding:10px;
  background:orange;
  color:white;
  margin-top: 15px;
  border:none;
  outline:none;
  cursor: pointer;
}
.cart-total{
    margin-top: 50px;
    width:100%;
    background:linear-gradient(orange,black);
}